.fotter{
    background-color: rgb(24, 218, 214);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
    margin-top: 0.5%;
    border-top: 2px solid white;
    width: 101.8%;
    margin-left: -1%;
}
#head{
    font-size: 50px;
    margin-top: 10px;
    text-indent:1rem;
    color: white;
    font-weight: 510;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#face{
  padding-left: 2rem;
}
.anker{
  transition: all 0.4s ease-in-out;
}
.anker:hover{
  transform: scale(1.2);
}